* {
-khtml-user-select:none;
-moz-user-select:none;
-o-user-select:none;
-webkit-user-select:none;
user-select:none;
}

html,
body {
background-color:#333332;
}

body {
color:#fff;
font-family:HelveticaNeue,Helvetica,"lucida grande",tahoma,Verdana,Arial;
font-size:12px;
margin:0;
overflow:hidden;
}

ul {
list-style-type:none;
margin:0;
padding:0;
}

.ellipsis {
overflow:hidden;
-o-text-overflow:ellipsis;
text-overflow:ellipsis;
white-space:nowrap;
}

#outerWidgetContainer {
bottom:0;
left:0;
right:0;
top:0;
overflow:hidden;
position:absolute;
}

.engage #outerWidgetContainer {
filter:alpha(opacity=30);
-moz-opacity:.3;
opacity:.3;
}

#widgetContainer {
cursor:default;
filter:alpha(opacity=0);
left:330px;
-moz-opacity:0;
opacity:0;
position:absolute;
top:0;
}

#notifBar p {
padding:0 40px;
}

.overlay {
background-image:url(i/overlayBg.png);
color:#fff;
font-family:helvetica,"lucida grande",tahoma,verdana,arial;
font-size:11px;
height:80px;
position:absolute;
text-align:center;
top:-80px;
width:100%;
z-index:20;
}

.overlay .closeButton {
background-image:url(i/closebtn.png);
background-repeat:no-repeat;
cursor:pointer;
height:15px;
position:absolute;
right:17px;
top:17px;
width:15px;
z-index:1;
}

.closeButton:hover {
background-position:-16px 0;
}

.closeButton:active {
background-position:-32px 0;
}

.player {
background:-moz-linear-gradient(top,#333332 0,#272626 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#333332),color-stop(100%,#272626));
background:-webkit-linear-gradient(top,#333332 0,#272626 100%);
background:-o-linear-gradient(top,#333332 0,#272626 100%);
background:-ms-linear-gradient(top,#333332 0,#272626 100%);
background:linear-gradient(top,#333332 0,#272626 100%);
background-color:#333332;
background-image:url(i/playerbg.png);
border:1px solid #000;
border-top-left-radius:3px;
-moz-border-radius-topleft:3px;
-webkit-border-top-left-radius:3px;
border-top-right-radius:3px;
-moz-border-radius-topright:3px;
-webkit-border-top-right-radius:3px;
border-bottom-left-radius:0;
-moz-border-radius-bottomleft:0;
-webkit-border-bottom-left-radius:0;
border-bottom-right-radius:0;
-moz-border-radius-bottomright:0;
-webkit-border-bottom-right-radius:0;
height:78px;
position:relative;
width:618px;
}

.player .album-art-container {
cursor:pointer;
display:inline-block;
float:left;
width:78px;
height:78px;
}

.player .album-art {
margin-left:5px;
margin-top:5px;
width:68px;
height:68px;
border-top-left-radius:3px;
-moz-border-radius-topleft:3px;
-webkit-border-top-left-radius:3px;
border-top-right-radius:3px;
-moz-border-radius-topright:3px;
-webkit-border-top-right-radius:3px;
border-bottom-left-radius:3px;
-moz-border-radius-bottomleft:3px;
-webkit-border-bottom-left-radius:3px;
border-bottom-right-radius:3px;
-moz-border-radius-bottomright:3px;
-webkit-border-bottom-right-radius:3px;
}

.engage .player .album-art-container .album-art {
border:0;
}

.player .album-art img {
width:66px;
height:66px;
border-top:1px solid #4D4D4D;
border-left:1px solid #000;
border-right:1px solid #000;
border-bottom:1px solid #000;
-moz-box-shadow:0 0 4px 1px #212121;
-webkit-box-shadow:0 0 4px 1px #212121;
box-shadow:0 0 4px 1px #212121;
border-top-left-radius:3px;
-moz-border-radius-topleft:3px;
-webkit-border-top-left-radius:3px;
border-top-right-radius:3px;
-moz-border-radius-topright:3px;
-webkit-border-top-right-radius:3px;
border-bottom-left-radius:3px;
-moz-border-radius-bottomleft:3px;
-webkit-border-bottom-left-radius:3px;
border-bottom-right-radius:3px;
-moz-border-radius-bottomright:3px;
-webkit-border-bottom-right-radius:3px;
background-image: url(i/defaultCover.png);
background-repeat:no-repeat;
background-size:66px 66px;
}

.engage .player .album-art img {
display:none;
}

.player .album-art .play-pause-btn {
cursor:pointer;
width:29px;
height:29px;
position:relative;
left:20px;
top:-51px;
background-repeat:no-repeat;
background-image:url(i/playbtnsSmall.png);
}

.engage .player .album-art .play-pause-btn {
width:50px;
height:51px;
position:relative;
left:10px;
top:9px;
background-repeat:no-repeat;
background-image:url(i/PlayPause.png);
}

.player.off .album-art .play-pause-btn {
background-position:0 0;
}

.player.off .album-art:hover .play-pause-btn {
background-position:-30px 0;
}

.player.on .album-art .play-pause-btn {
background-position:-60px 0;
}

.player.on .album-art:hover .play-pause-btn {
background-position:-90px 0;
}

.player.on .album-art:hover .play-pause-btn {
background-position:-90px 0;
}

.engage .player.on .album-art .play-pause-btn {
background-position:-153px 0;
}

.engage .player.on .album-art:hover .play-pause-btn {
background-position:-204px 0;
}

.engage .player.on .album-art:active .play-pause-btn {
background-position:-255px 0;
}

.engage .player.off .album-art:hover .play-pause-btn {
background-position:-51px 0;
}

.engage .player.off .album-art:active .play-pause-btn {
background-position:-102px 0;
}

.player .divider {
display:inline-block;
float:left;
width:2px;
height:78px;
background-image:url(i/playerdivider.png);
background-repeat:no-repeat;
}

.player .meta {
display:inline-block;
float:left;
height:78px;
}

.player .meta .titles {
text-shadow:#000 0 1px 1px;
margin-top:12px;
margin-left:8px;
width:503px;
}

#widgetContainer:hover .player .meta .titles {
width:477px;
}

.player .meta .titles .track-name {
cursor:pointer;
font-weight:bold;
}

.player .meta .titles .artist-name {
font-size:11px;
font-family:"lucida grande",tahoma,Verdana,Arial;
color:#a1a1a1;
}

#widgetContainer:hover .player .meta .right-bar-buttons,
.engage .player .meta .right-bar-buttons {
opacity:1;
-moz-opacity:1;
filter:alpha(opacity=100);
-moz-transition-property:opacity;
-webkit-transition-property:opacity;
-o-transition-property:opacity;
transition-property:opacity;
-moz-transition-duration:.1s;
-webkit-transition-duration:.1s;
-o-transition-duration:.1s;
transition-duration:.1s;
}

.player .meta .right-bar-buttons {
position:absolute;
right:4px;
top:4px;
opacity:0;
-moz-opacity:0;
filter:alpha(opacity=0);
-moz-transition-property:opacity;
-webkit-transition-property:opacity;
-o-transition-property:opacity;
transition-property:opacity;
-moz-transition-duration:.4s;
-webkit-transition-duration:.4s;
-o-transition-duration:.4s;
transition-duration:.4s;
}

.player .meta .right-bar-buttons .action-buttons-container {
display:inline-block;
height:20px;
border:1px solid #000;
border-top-left-radius:3px;
-moz-border-radius-topleft:3px;
-webkit-border-top-left-radius:3px;
border-top-right-radius:3px;
-moz-border-radius-topright:3px;
-webkit-border-top-right-radius:3px;
border-bottom-left-radius:3px;
-moz-border-radius-bottomleft:3px;
-webkit-border-bottom-left-radius:3px;
border-bottom-right-radius:3px;
-moz-border-radius-bottomright:3px;
-webkit-border-bottom-right-radius:3px;
}

.player .meta .right-bar-buttons .action-buttons-container div {
height:20px;
width:21px;
}

.player .meta .right-bar-buttons .action-buttons-container .embed {
float:left;
border-top-left-radius:2px;
-moz-border-radius-topleft:2px;
-webkit-border-top-left-radius:2px;
border-bottom-left-radius:2px;
-moz-border-radius-bottomleft:2px;
-webkit-border-bottom-left-radius:2px;
cursor:pointer;
background-image:url(i/actionbuttons.png);
background-repeat:no-repeat;
background-position:0 0;
}

.player .meta .right-bar-buttons .action-buttons-container .embed:hover {
background-position:-22px 0;
}

.player .meta .right-bar-buttons .action-buttons-container .embed:active {
background-position:-44px 0;
}

.player .meta .right-bar-buttons .action-buttons-container .list {
border-left:1px solid #000;
border-top-right-radius:2px;
-moz-border-radius-topright:2px;
-webkit-border-top-right-radius:2px;
border-bottom-right-radius:2px;
-moz-border-radius-bottomright:2px;
-webkit-border-bottom-right-radius:2px;
cursor:pointer;
background-image:url(i/actionbuttons.png);
background-repeat:no-repeat;
background-position:-66px 0;
float:left;
}

.player .meta .right-bar-buttons .action-buttons-container .list:hover {
background-position:-88px 0;
}

.player .meta .right-bar-buttons .action-buttons-container .list:active {
background-position:-110px 0;
}

.engage .player .meta .right-bar-buttons .action-buttons-container .list {
background-position:-132px 0;
}

.engage .player .meta .right-bar-buttons .action-buttons-container .list:hover {
background-position:-154px 0;
}

.engage .player .meta .right-bar-buttons .action-buttons-container .list:active {
background-position:-176px 0;
}

.player .meta .progress-bar-container {
width:495px;
position:absolute;
top:51px;
height:18px;
left:89px;
background-image:url(i/progresscontainer.png);
border-top-left-radius:1px;
-moz-border-radius-topleft:1px;
-webkit-border-top-left-radius:1px;
border-top-right-radius:1px;
-moz-border-radius-topright:1px;
-webkit-border-top-right-radius:1px;
border-bottom-left-radius:1px;
-moz-border-radius-bottomleft:1px;
-webkit-border-bottom-left-radius:1px;
border-bottom-right-radius:1px;
-moz-border-radius-bottomright:1px;
-webkit-border-bottom-right-radius:1px;
}

.player.on .meta .progress-bar-container .context-title {
display:none;
}

.p .player.off .controls {
display:none;
}

.p #widgetContainer:hover .player.off .context-title {
display:none;
}

.p #widgetContainer:hover .player.off .controls {
display:block;
}

.player .meta .progress-bar-container .controls .skip-back {
cursor:pointer;
display:none;
float:left;
width:19px;
height:16px;
background-image:url(i/skipbtns.png);
background-position:0 0;
margin-top:1px;
}

.player .meta .progress-bar-container .controls .skip-back:hover {
background-position:-20px 0;
}

.player .meta .progress-bar-container .controls .buffer {
margin-left:4px;
width:447px;
margin-top:6px;
height:5px;
background-image:url(i/buffer.png);
float:left;
border-top-left-radius:1px;
-moz-border-radius-topleft:1px;
-webkit-border-top-left-radius:1px;
border-top-right-radius:1px;
-moz-border-radius-topright:1px;
-webkit-border-top-right-radius:1px;
border-bottom-left-radius:1px;
-moz-border-radius-bottomleft:1px;
-webkit-border-bottom-left-radius:1px;
border-bottom-right-radius:1px;
-moz-border-radius-bottomright:1px;
-webkit-border-bottom-right-radius:1px;

}

.on.player .meta .progress-bar-container .controls .buffer {
margin-left:1px;
width:431px; /* when skip-back is visible -16px */
}

.player .meta .progress-bar-container .controls .buffer .seeker {
width:0;
width:100px;
height:5px;
background-image:url(i/seeker.png);
border-top-left-radius:1px;
-moz-border-radius-topleft:1px;
-webkit-border-top-left-radius:1px;
border-top-right-radius:1px;
-moz-border-radius-topright:1px;
-webkit-border-top-right-radius:1px;
border-bottom-left-radius:1px;
-moz-border-radius-bottomleft:1px;
-webkit-border-bottom-left-radius:1px;
border-bottom-right-radius:1px;
-moz-border-radius-bottomright:1px;
-webkit-border-bottom-right-radius:1px;
}

.player .meta .progress-bar-container .controls .skip-fwd {
cursor:pointer;
float:left;
width:19px;
height:16px;
background-image:url(i/skipbtns.png);
background-position:-40px 0;
margin-top:1px;
}

.player .meta .progress-bar-container .controls .skip-fwd:hover {
background-position:-60px 0;
}

.player .meta .progress-bar-container .controls .time-spent {
float:right;
font-size:9px;
font-family:"lucida grande",tahoma,Verdana,Arial;
color:#a1a1a1;
margin-right:3px;
margin-top:3px;
margin-left:3px;
}

.player .meta .progress-bar-container .context-title {
padding-top:2px;
padding-left:4px;
font-size:11px;
font-family:"lucida grande",tahoma,Verdana,Arial;
color:#a1a1a1;
text-shadow:#000 0 1px 1px;
margin-right:4px;
}

.p .player .meta .progress-bar-container .context-title .type-icon {
background-position:-11px 0;
}

.player .meta .progress-bar-container .context-title .type-icon {
background-image:url(i/typeicons.png);
background-repeat:no-repeat;
float:left;
width:10px;
height:10px;
margin-top:2px;
margin-right:4px;
}

.player .meta .progress-bar-container .context-title .title-content {
float:left;
width:470px
}

.player .config {
background-image:url(i/config.png);
background-repeat:no-repeat;
background-size:22px 22px;
cursor:pointer;
filter:alpha(opacity=80);
float:right;
height:22px;
-moz-opacity:.8;
opacity:.8;
position:absolute;
right:7px;
top:49px;
width:22px;
}

#mainContainer {
background-color:#272626;
border-bottom:1px solid #000;
border-left:1px solid #000;
border-right:1px solid #000;
border-bottom-left-radius:3px;
-moz-border-radius-bottomleft:3px;
-webkit-border-bottom-left-radius:3px;
border-bottom-right-radius:3px;
-moz-border-radius-bottomright:3px;
-webkit-border-bottom-right-radius:3px;
outline:0;
height:618px;
overflow:hidden;
padding:0;
width:618px;
}

#mainContainer .content {
z-index:2;
}

.i {
height:35px;
padding:0;
border-top:1px solid #3c3c3c;
border-bottom:1px solid #000;
cursor:pointer;
background-color:#2d2d2d;
-moz-transition-property:background-color;
-webkit-transition-property:background-color;
-o-transition-property:background-color;
transition-property:background-color;
-moz-transition-duration:.4s;
-webkit-transition-duration:.4s;
-o-transition-duration:.4s;
transition-duration:.4s;
position:relative;
}

.i:hover {
background-color:#373737;
-moz-transition-property:background-color;
-webkit-transition-property:background-color;
-o-transition-property:background-color;
transition-property:background-color;
-moz-transition-duration:.1s;
-webkit-transition-duration:.1s;
-o-transition-duration:.1s;
transition-duration:.1s
}

.i.un {
cursor:default;
filter:alpha(opacity=50);
-moz-opacity:.5;
opacity:.5;
}

.i.on,
.i.off {
background-color:#292929;
}

.ppbtn {
display:inline-block;
position:absolute;
border-style:none;
top:5px;
left:6px;
width:24px;
height:26px;
background-repeat:no-repeat;
background-image:url(i/ListPlayPause.png);
float:left;
}

.off .ppbtn {
background-position:0 0;
}

.off:hover .ppbtn {
background-position:-25px 0;
}

.on .ppbtn {
background-position:-50px -0px;
}

.on:hover .ppbtn {
background-position:-75px -0px;
}

.ti {
color:#d9d9d9;
float:left;
font-family:"lucida grande",tahoma,Verdana,Arial;
font-size:11px;
left:31px;
letter-spacing:.019em;
padding-top:4px;
position:relative;
text-shadow:#000 0 1px 1px;
width:544px;
z-index:1;
}

.d {
color:#8c8c8c;
float:right;
font-weight:bold;
position:relative;
right:14px;
top:10px;
}

.tt {
padding-left:7px;
padding-right:15px;
font-weight:bold;
padding-top:0;
letter-spacing:.019em;
}

.a {
padding-left:7px;
padding-right:15px;
font-size:11px;
font-family:"lucida grande",tahoma,Verdana,Arial;
letter-spacing:0;
color:#838383;
}

.tt,
.a {
overflow:hidden;
-o-text-overflow:ellipsis;
text-overflow:ellipsis;
white-space:nowrap;
}

#vD {
visibility:hidden;
}

#vD.hide {
height:0;
overflow:hidden;
width:0;
}

/* Scrollbar Style */
.jspContainer{overflow:hidden;position:relative}
.jspPane{position:absolute;width:618px}
.jspVerticalBar{position:absolute;top:0;right:0;width:7px;height:100%;z-index:1}
.jspHorizontalBar{position:absolute;bottom:0;left:0;width:100%;height:16px;background:red}
.jspVerticalBar *,.jspHorizontalBar *{margin:0;padding:0}
.jspCap{display:none}
.jspHorizontalBar .jspCap{float:left}
.jspTrack{background:rgba(0,0,0,0.15);position:relative;border-bottom-right-radius:1px;-moz-border-radius-bottomright:1px;-webkit-border-bottom-right-radius:1px}
.jspDrag{background:#6e6e6e;position:relative;top:0;left:0;cursor:pointer;opacity:0;-moz-opacity:0;filter:alpha(opacity=0);border-top-left-radius:3px;-moz-border-radius-topleft:3px;-webkit-border-top-left-radius:3px;border-top-right-radius:3px;-moz-border-radius-topright:3px;-webkit-border-top-right-radius:3px;border-bottom-left-radius:3px;-moz-border-radius-bottomleft:3px;-webkit-border-bottom-left-radius:3px;border-bottom-right-radius:3px;-moz-border-radius-bottomright:3px;-webkit-border-bottom-right-radius:3px;-moz-transition-property:opacity;-webkit-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity;-moz-transition-duration:.4s;-webkit-transition-duration:.4s;-o-transition-duration:.4s;transition-duration:.4s}
#mainContainer:hover .jspDrag,.jspDrag:active{opacity:1;-moz-opacity:1;filter:alpha(opacity=100);-moz-transition-property:opacity;-webkit-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity;-moz-transition-duration:.1s;-webkit-transition-duration:.1s;-o-transition-duration:.1s;transition-duration:.1s}
.jspDrag:hover,.jspDrag:active{background-color:#a1a1a1}
.jspHorizontalBar .jspTrack,.jspHorizontalBar .jspDrag{float:left;height:100%}
.jspArrow{background:#50506d;text-indent:-20000px;display:block;cursor:pointer}
.jspArrow.jspDisabled{cursor:default;background:#80808d}
.jspVerticalBar .jspArrow{height:16px}
.jspHorizontalBar .jspArrow{width:16px;float:left;height:100%}
.jspVerticalBar .jspArrow:focus{outline:0}
.jspCorner{background:#eeeef4;float:left;height:100%}
* html .jspCorner{margin:0 -3px 0 0}